<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
	<div class="logo">
		<a href="http://www.creative-tim.com" class="simple-text">
			TimeAway Management
		</a>
	</div>
	
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="active">
				<a href="dashboard">
					<i class="material-icons">dashboard</i>
					<p>Dashboard</p>
				</a>
			</li>
			<li>
				<a href="employee">
					<i class="material-icons">person</i>
					<p>Employee Masterfile</p>
				</a>
			</li>
		</ul>
	</div>
</div>